# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# SDCC detritus
bin/*.arf
bin/*.asm
bin/*.com
bin/*.ihx
bin/*.lst
bin/*.map
bin/*.noi
bin/*.rel
bin/*.sym
lbin/*
